:root {
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);
  --Toggle-Dark: hsl(174, 86%, 45%);
  --Toggle-Light: hsl(230, 22%, 74%);
  --VeryDarkBlue: hsl(230, 17%, 14%);
  --VeryDarkBlue: hsl(232, 19%, 15%);
  --DarkDesaturatedBlue: hsl(228, 28%, 20%);
  --DesaturatedBlue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);
  --White: hsl(0, 0%, 100%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --LightGrayishBlue: hsl(227, 47%, 96%);
  --DarkGrayishBlue: hsl(228, 12%, 44%);
  --VeryDarkBlue: hsl(230, 17%, 14%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: sans-serif;
  font-size: 1.6rem;
  background-color: var(--White);
}

.container {
  max-width: 120rem;
  margin: 5rem auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.header {
  margin-bottom: 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__total {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__switch {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1.5rem 0 1.5rem 0;
  position: relative;
}

.socials {
  margin-bottom: 6.4rem;
}
.socials__block {
  background-color: var(--LightGrayishBlue);
  padding: 2rem;
  border-radius: 10px;
}
.socials__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  color: var(--DarkGrayishBlue);
  margin-bottom: 2rem;
  font-weight: 600;
}
.socials__fb {
  border-top: 5px solid var(--Facebook);
}
.socials__ig {
  border-top: 5px solid yellow;
}
.socials__yt {
  border-top: 5px solid var(--YouTube);
}

.followers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.followers__count {
  font-size: 6.4rem;
  font-weight: 600;
}
.followers__description {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  color: var(--DarkGrayishBlue);
  font-weight: 400;
  margin-bottom: 4rem;
}

.today {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--LimeGreen);
  font-weight: 600;
  gap: 0.5rem;
}
.today__decrease {
  color: var(--BrightRed);
}

.secondary-heading {
  font-size: 3rem;
  font-weight: 600;
  color: var(--DarkGrayishBlue);
  margin-bottom: 2rem;
}

.overview__summary {
  background-color: var(--LightGrayishBlue);
  padding: 2rem;
  border-radius: 10px;
}

.header__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: var(--DarkGrayishBlue);
  margin-bottom: 3rem;
  font-weight: 500;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summary__count {
  font-size: 4rem;
  font-weight: 600;
}
.summary__arrow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.summary__percent {
  font-weight: 600;
  color: var(--LimeGreen);
}

.percent__down {
  color: var(--BrightRed);
}

.switch {
  position: relative;
  width: 4rem;
  height: 2rem;
}

.switch #dark-mode-switch {
  opacity: 0;
  width: 0;
  height: 0;
}

#dark-mode-switch:checked + .slider {
  background: var(--Toggle-Dark);
}

#dark-mode-switch:checked + .slider:before {
  transform: translate(2.1rem);
}

.slider {
  position: absolute;
  inset: 0;
  background: var(--Toggle-Light);
  border-radius: 1.5rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  left: 0.27rem;
  bottom: 0.25rem;
  height: 1.55rem;
  width: 1.55rem;
  background: var(--White);
  border-radius: 50%;
  transition: all 0.2s ease-out;
}